* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.timer-container {
    width: 100vw;
}

.timer {
    background: #dea916;
    display: flex;
    flex: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 7em;
    padding-top: 2em;
}

.timer div:first-child {
    color: #f9f9f9;
    text-align: center;
}

.timer div:last-child {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 3em;
    padding: 3em;
    text-align: center;
}

section p:first-child, .timer div:last-child span {
    font-size: 3em;
}

@media screen and (max-width: 480px) {
    .timer div:last-child {
        margin-left: 2em;
        margin-right: 2em;
        padding: 3em 1em;
    }
}