
.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dea916;
    padding-bottom: 3em;
    padding-top: 3em;
    bottom: 0;
}

.unit {
    color: #f9f9f9;
    text-align: center;
}

section p:first-child, .timer div:last-child span {
    font-size: 3em;
}

@media screen and (max-width: 480px) {
    .timer div:last-child {
        margin-left: 2em;
        margin-right: 2em;
    }
}